.right {
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  font-size: medium;
  display: flex;
  justify-content: flex-end;
}

.right a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.google {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.material-icons:hover {
  cursor: pointer;
  background: gainsboro;
  border-radius: 50%;
}

.flask {
  height: 1.5rem;
  width: 1.8rem;
}

.flask:hover {
  cursor: pointer;
  background: gainsboro;
  border-radius: 50%;
}

.search_input {
  display: flex;
  align-items: center;
  border: 1.5px solid lightgrey;
  height: 25px;
  padding: 10px 20px;
  border-radius: 1000px;
  width: 70vw;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 500px;
}

.search_input:hover {
  box-shadow: 1px 1px 1px 1px rgb(216, 213, 213);
}

.search_input input {
  flex: 1;
  border: none;
  outline: none;
}

.search_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color:transparent #f8f9fa;
  border:  #f8f9fa;
}

.serrh {
  font-size: 1rem;
  border: none;
}

.serrh:hover {
  border: 1px solid rgb(211, 208, 208);
}

.language {
  justify-content: center;
  align-items: center;
  display: flex;
}

.language a {
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  background-color: #ebebeb;
  border: 1px solid #f8f9fa;
  border-radius: 2px;
}

.footer ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer li {
  margin-right: 20px;
  cursor: pointer;
  color: #70757a;
}

.footer li:hover {
  text-decoration: underline;
}

/* cross */
.cross {
  /* padding-bottom: 1rem; */
  padding-left: 8.5rem;
  display: none;
  position: relative;
  cursor: pointer;
}
